
:root {
    color-scheme: dark;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 768px){
    #__next {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}